main > form >label {
    color: white;
}

main > h2 {
    color: white;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

main {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 20px;
    bottom: 60px;
}

button:hover {
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
    main {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        justify-content: left;
        margin-left: 10px;
        bottom: 60px;
    }
}


/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    main {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: left;
        justify-content: left;
        margin-left: 10px;
        bottom: 10vh;
    }
    main>h2 {
        font-size: 28px;
    }
    main >form > label {
        font-size: 20px;
    }
    main>form>button {
        font-size: 20px;
    }
    
}